{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
    .landing-container {
        width: 100vw;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        min-height: 500px;
        max-height: 800px;
        height: 80vh;
        background: url('{% static 'media/landing_background.jpg' %}');
        background-size: cover;
        background-position: 40% 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .landing-container::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .landing-container h1 {
        z-index: 1;
        color: white;
        font-size: 3.5em;
    }

    .landing-container a {
        z-index: 1;
        font-weight: 600;
        font-size: 1.3em;
    }
</style>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}


<!-- <div class="landing-container">
    <svg class="arrow arrow-top" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
        viewBox="0 0 172 172" style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
            stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
            font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#fae1ad">
                <path
                    d="M96.32,134.16c-0.52406,0 -1.04812,-0.12094 -1.51844,-0.36281c-1.1825,-0.57781 -1.92156,-1.76031 -1.92156,-3.07719v-27.52h-75.68c-1.89469,0 -3.44,-1.53187 -3.44,-3.44v-27.52c0,-1.89469 1.54531,-3.44 3.44,-3.44h75.68v-27.52c0,-1.30344 0.73906,-2.49937 1.92156,-3.07719c1.16906,-0.57781 2.56656,-0.44344 3.61469,0.34937l58.48,44.72c0.84656,0.645 1.34375,1.65281 1.34375,2.72781c0,1.075 -0.49719,2.08281 -1.35719,2.72781l-58.48,44.72c-0.60469,0.47031 -1.34375,0.71219 -2.08281,0.71219z">
                </path>
            </g>
        </g>
    </svg>
    <svg class="arrow arrow-mid" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
        viewBox="0 0 172 172" style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
            stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
            font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#fae1ad">
                <path
                    d="M96.32,134.16c-0.52406,0 -1.04812,-0.12094 -1.51844,-0.36281c-1.1825,-0.57781 -1.92156,-1.76031 -1.92156,-3.07719v-27.52h-75.68c-1.89469,0 -3.44,-1.53187 -3.44,-3.44v-27.52c0,-1.89469 1.54531,-3.44 3.44,-3.44h75.68v-27.52c0,-1.30344 0.73906,-2.49937 1.92156,-3.07719c1.16906,-0.57781 2.56656,-0.44344 3.61469,0.34937l58.48,44.72c0.84656,0.645 1.34375,1.65281 1.34375,2.72781c0,1.075 -0.49719,2.08281 -1.35719,2.72781l-58.48,44.72c-0.60469,0.47031 -1.34375,0.71219 -2.08281,0.71219z">
                </path>
            </g>
        </g>
    </svg>
    <svg class="arrow arrow-bottom" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
        viewBox="0 0 172 172" style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
            stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
            font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#fae1ad">
                <path
                    d="M96.32,134.16c-0.52406,0 -1.04812,-0.12094 -1.51844,-0.36281c-1.1825,-0.57781 -1.92156,-1.76031 -1.92156,-3.07719v-27.52h-75.68c-1.89469,0 -3.44,-1.53187 -3.44,-3.44v-27.52c0,-1.89469 1.54531,-3.44 3.44,-3.44h75.68v-27.52c0,-1.30344 0.73906,-2.49937 1.92156,-3.07719c1.16906,-0.57781 2.56656,-0.44344 3.61469,0.34937l58.48,44.72c0.84656,0.645 1.34375,1.65281 1.34375,2.72781c0,1.075 -0.49719,2.08281 -1.35719,2.72781l-58.48,44.72c-0.60469,0.47031 -1.34375,0.71219 -2.08281,0.71219z">
                </path>
            </g>
        </g>
    </svg>


    <a id="landingPageButton" class="text-dark" href="{% url 'raffle_page' %}">Search Prices</a>
</div> -->

<div class="p-5 landing-container">
    <div>
        <h1 class="text-center">Ready to <span class="text-main">win</span>?</h1>
        <a class="btn bg-main text-white" href="{% url 'raffle_page' %}">View Prizes</a>
    </div>
</div>



{% include 'includes/charity_post.html' %}

<hr>

<h3 class="my-5 text-center">Hurry! Ending Soon</h3>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/arrows.js' %}"></script>
{% endblock %}