.raffle-container {
    padding: 10px;
}

.raffle-wrapper {
    background-color: white;
    padding: 10px;
    border: solid grey 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.09);
}

.charity-raffle-wrapper {
    background-color: white;
    padding: 10px;
    border: solid var(--mainColour) 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.09);
}

.count-down-container .count {
    font-size: 2em;
    color: var(--mainColour);
}

.increment-tickets-container {
    border-top: solid grey 1px;
    border-bottom: solid grey 1px;
    border-radius: 20px;
    overflow: hidden;
    height: 50px;
}

#lessTickets {
    border: none;
    background-color: var(--mainColour);
    padding: 0px 20px;
    font-size: 2em;
}

#lessTickets span {
    position: relative;
    display: inline-block;
    bottom: 4px;
    height: 30px;
}

#moreTickets {
    border: none;
    background-color: var(--mainColour);
    padding: 0px 20px;
    font-size: 2em;
}

#moreTickets span {
    position: relative;
    bottom: 4px;
}