.messages-container {
    position: fixed;
    display: inline-block;
    top: 72px;
    right: 15px;
    z-index: 999999;
    background-color: white;
    border-radius: 3px;
    border: solid rgb(180, 180, 180) 1px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.07);
}

.messsages-container a {
    color: black;
}

.toast-item-container {
    height: 220px;
    overflow: scroll;
    overflow-x: hidden;
}

.custom-toast {
    overflow: visible;
    color: black;
    z-index: 999999;
}

.toast-success {
    border-top: solid rgb(67, 205, 75) 4px;
}

.toast {
    color: black;
    cursor: pointer;
}