{% extends 'base.html' %}

{% block content %}

<h2 class="py-3 pl-3 m-0 bg-white">Terms And Conditions</h2>
<hr class="mt-0">

<div class="p-2">

    <h6>1. General</h6>

    <p>1.1 When users create an account and enter any competitions on www.supremeprizes.co.uk you're agreeing to these
        terms
        and
        conditions which you are bound to.</p>

    <p>1.2 Supreme Prizes only take your email address on signing up, when you win any prizes, we then will be in
        contract
        via
        email for your full address so we can get the prizes to you safely.</p>

    <p>1.3 Every user is reponsible for providing the correct information on signing up and keeping this information up
        to
        date.</p>

    <p>1.4 Supreme Prizes will not be responsible for any incorrect information given or changes being made without us
        being
        notified.</p>

    <h6>2. Competition</h6>

    <p>2.1 Our competitions are open to anyone over the age of 18, this excludes family or anyone connected to the
        development or management of the web application.</p>

    <p>2.2 By entering in any of our competitions, we do not guarantee that you will win the prize.</p>

    <p>2.3 All of our prizes are new and will be sent to the winner using tracked delivery.</p>

    <h6>3. End Of Competition</h6>

    <p>3.1 If any prize dose not meet the minimum number of required enteries, the time of the draw date will be extend
        by a week, until this requirement is met.</p>

    <p>3.2 If the requirement is not met after the extended week, the item will continue to get extended until the
        enteries have surpassed the minimum required amount.</p>

    <h6>4. Competition Winner</h6>

    <p>4.1 </p>

    <p></p>

    <h6>Winners</h6>

    <h6>Privacy Policy</h6>

</div>



{% endblock %}