{% extends 'base.html' %}
{% load static %}

{% block content %}


<h2 class="py-3 pl-3 m-0 bg-white">Prizes</h2>
<hr class="mt-0">

<div class="px-2">
    <p class="mb-1"><img src="https://img.icons8.com/ios/20/000000/empty-filter.png" class="mr-1" />Filter</p>
    <select class=" form-control">
        <option>Ending First</option>
        <option>Cheapest First</option>
    </select>
</div>
<hr>

{% for product in products %}

<div class="raffle-container">
    <div class="raffle-wrapper">
        <h4>{{ product.name }}</h4>
        {{ product.description }}
        <hr>
        <img src="{{ product.image.url }}" width="100%">
        <hr>
        <div class="container-fluid d-flex justify-content-between p-0 px-1 pb-2">
            {% if product.time_remaining.days > 0 %}
            <small><img src="https://img.icons8.com/ios/24/000000/time--v1.png" class="mr-1" />
                {{ product.time_remaining.days }} Days</small>
            {% elif product.time_remaining.hours > 0 %}
            <small><img src="https://img.icons8.com/ios/24/000000/time--v1.png" class="mr-1" />
                {{ product.time_remaining.hours }} Hours</small>
            {% elif product.time_remaining.minutes > 0 %}
            <small><img src="https://img.icons8.com/ios/24/000000/time--v1.png" class="mr-1" />
                {{ product.time_remaining.minutes }} Mins</small>
            {% endif %}
            <small><img src="https://img.icons8.com/ios/24/000000/two-tickets.png" class="mr-1" />
                {{ product.remaining_tickets }} Remaining</small>
            <small><img src="https://img.icons8.com/ios/24/000000/price-tag-pound.png" class="mr-1" />
                £{{ product.price}}</small>
        </div>
        <hr class="mb-2 mt-2">
        <a href="{% url 'raffle_info_page' pk=product.id %}" class="btn container-fluid btn-warning">More</a>
    </div>
</div>

{% endfor %}

{% endblock %}