{% extends 'base.html' %}
{% load static %}
{% block content %}

<a class="btn bg-main text-white m-3" href="{% url 'raffle_page' %}">Back To Prizes</a>

<h2 class="py-3 pl-3 m-0 bg-white">Prize Information</h2>
<hr class="mt-0">

<div class="raffle-container bg-white py-4">
    <div class="container-fluid d-flex justify-content-between p-0">
        <div>
            <h4 class="m-0">{{ product.name }}</h4>
            <p class="d-inline">{{ product.description }}</p>
        </div>
        {% if product.charity %}
        <img src="https://img.icons8.com/ios/55/000000/handshake-heart.png" />
        {% endif %}
    </div>
    <hr>
    <img src="{{ product.image.url }}" width="100%">
    <hr>

    <div class="py-3">
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ product.sold_percentage }}%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="{{ product.max_tickets }}">
                {{ product.tickets_sold }}</div>
        </div>
        <small><b>Tickets sold:</b> {{ product.tickets_sold }} / {{ product.max_tickets }}</small>
    </div>


    <div class="border p-2 count-down-container">
        <div class="m-0 p-0">
            <p class="m-0 p-0"> <b class="d-flex justify-content-between">
                    Raffle Ends: <span>Date: {{ product.end_date|date:"d/m/Y" }},
                        Time: {{ product.end_date|time:"h:i a"}}</span></b>
            </p>
        </div>
        <hr class="mt-1">
        <div class="count-down-wrapper d-flex justify-content-between px-2 pb-2">
            <div>
                <p class="m-0 text-center count" id="countdownDays">{{ product.time_remaining.days }}</p>
                <p class="m-0">Days</p>
            </div>
            <p class="count">:</p>
            <div>
                <p class="m-0 text-center count" id="countdownHours">{{ product.time_remaining.hours }}</p>
                <p class="m-0">Hours</p>
            </div>
            <p class="count">:</p>
            <div>
                <p class="m-0 text-center count" id="countdownMins">{{ product.time_remaining.minutes }}</p>
                <p class="m-0">Minutes</p>
            </div>
            <p class="count">:</p>
            <div>
                <p class="m-0 text-center count" id="countdownSecs">{{ product.time_remaining.seconds }}</p>
                <p class="m-0">Seconds</p>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-between px-1 pt-3">
        <small><img src="https://img.icons8.com/cotton/24/000000/person-male--v2.png" class="mr-1" />
            Tickets PP</small>
        {% if product.charity %}
        <small><img src="https://img.icons8.com/ios/24/000000/money-bag-pound.png" class="mr-1" />
            £0.00 Rasied</small>
        {% else %}
        <small><img src="https://img.icons8.com/ios/24/000000/two-tickets.png" class="mr-1" />
            {{ product.remaining_tickets }} Remaining</small>
        {% endif %}
        <small><img src="https://img.icons8.com/ios/24/000000/price-tag-pound.png" class="mr-1" />
            £{{ charity_product.price}}</small>
    </div>
    <hr>
    <form action="{% url 'add_to_bag' pk=product.id %}" method="POST">
        {% csrf_token %}
        <div
            class="container-fluid d-flex align-items-center justify-content-between my-3 px-0 increment-tickets-container">
            <button type="button" id="lessTickets" onclick="showNewTicketAmount('decrement')"><span>-</span></button>
            <input name="ticketCount" id="ticketCount" value="0">
            <button type="button" id="moreTickets" onclick="showNewTicketAmount('increment')"><span>+</span></button>
        </div>
        <hr>
        <button type="sumbit" class="btn btn-warning container-fluid">Add Tickets</button>
    </form>
</div>

{% include 'includes/ending_soon.html' %}

{% if not product.charity %}
{% include 'includes/charity_post.html' %}
{% endif %}


{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/increment_tickets.js' %}"></script>
<script src="{% static 'js/live_countdown.js' %}"></script>
{% endblock %}